[Desktop Entry]
Version=1.0
Type=Application
Name=Prueba.cs
Comment=Probar C#
Exec=./Prueba.cs
Icon=
Path=/home/kali/Desktop
Terminal=true
StartupNotify=false
